<ul class="nav nav-tabs">
  <li class="nav-item">
      <a data-toggle="tab" class="nav-link active" href="#item-data">Item</a>
  </li>
  <li class="nav-item">
      <a show-tab data-toggle="tab" class="nav-link" href="#photo" target="_self">Photo</a>
  </li>
</ul>

<div class="tab-content">
  <div id="item-data" class="tab-pane fade show active" *ngIf="item">
      <h3>{{item.name}}</h3>
      <p>{{item.description}}</p>
      
      <div>
          <button class="btn btn-primary" (click)="onClickRedirection()">EDIT</button>
          <button class="btn btn-danger" (click)="onClickDelete()">DELETE</button>
      </div>
  </div>

  <div id="photo" class="tab-pane fade">
      <input type="file" (change)="upload()" #fileInput/>
      <img *ngFor="let photo of photos" src="/uploads/{{photo.fileName}}" class="img-thumbnail" />
  </div>
</div>
